batch:
    enabled: false
    maxconcurrency: 5000
    tasktimeout: 60
    jobtimeout: 600
    maxretries: 2
    retryinterval: 1
database:
    enabled: true
    host: localhost
    port: 5432
    user: postgres
    password: ""
    dbname: quic_release
    sslmode: disable
    automigrate: true
log:
    level: debug
    format: text
    file: ""
message:
    workercount: 20
    taskqueuesize: 2000
    handlertimeout: 30
    maxpromises: 50000
    promisewarnthreshold: 40000
    defaultmessagetimeout: 30
quic:
    maxidletimeout: 60
    maxincomingstreams: 1000
    maxincomingunistreams: 100
    initialstreamreceivewindow: 524288
    maxstreamreceivewindow: 6291456
    initialconnectionreceivewindow: 1048576
    maxconnectionreceivewindow: 15728640
server:
    addr: :8474
    apiaddr: :8475
    highperf: false
    maxclients: 10000
session:
    heartbeatinterval: 15
    heartbeattimeout: 45
    heartbeatcheckinterval: 5
    maxtimeoutcount: 3
tls:
    certfile: certs/server-cert.pem
    keyfile: certs/server-key.pem
